.places__like{
    border: 0;
    padding: 0;
    width: 22px;
    height: 19px;
    background-image: url(../../../images/like.svg);
    background-size: cover;
    background-color: #FFFFFF;
    align-self: flex-end;
    margin: 0px 20px 5px 0px;
}